<h1>Available Badges</h1>

<table>
  <tr>
    <th>Badgename</th>
    <th>Badgeid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badges.each do |badge| %>
  <tr>
    <td><input type=submit value="Add Badge"></input></td>
    <td><%= badge.badgeName %></td>
    <td><%= badge.badgeID %></td>
    <td><%= link_to 'Show', badge %></td>
    <td><%= link_to 'Edit', edit_badge_path(badge) %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge', new_badge_path %>
